body {
  padding-top: 50px;
  background-color: rgba(189, 189, 189, 0.3);
}

table {
    border-radius: 5px;
}

.bg-violet {
  background-color: rgba(81, 45, 168, 1);
}

.bg-teal {
  background-color: rgba(22, 160, 133, 1);
}
